DesignPatterns/Proxy/src/PirateShipConsumer/Service References/MyPirateShipFactory/PirateShipFactory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BuildShip">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shipName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildShipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuildShipResult" type="tns:PirateShip" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PirateShip">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuildShipSoapIn">
    <wsdl:part name="parameters" element="tns:BuildShip" />
  </wsdl:message>
  <wsdl:message name="BuildShipSoapOut">
    <wsdl:part name="parameters" element="tns:BuildShipResponse" />
  </wsdl:message>
  <wsdl:portType name="PirateShipFactorySoap">
    <wsdl:operation name="BuildShip">
      <wsdl:input message="tns:BuildShipSoapIn" />
      <wsdl:output message="tns:BuildShipSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PirateShipFactorySoap" type="tns:PirateShipFactorySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuildShip">
      <soap:operation soapAction="http://tempuri.org/BuildShip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PirateShipFactorySoap12" type="tns:PirateShipFactorySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuildShip">
      <soap12:operation soapAction="http://tempuri.org/BuildShip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PirateShipFactory">
    <wsdl:port name="PirateShipFactorySoap" binding="tns:PirateShipFactorySoap">
      <soap:address location="http://localhost:421/PirateShipFactory.asmx" />
    </wsdl:port>
    <wsdl:port name="PirateShipFactorySoap12" binding="tns:PirateShipFactorySoap12">
      <soap12:address location="http://localhost:421/PirateShipFactory.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>